#algorithms {
	position: relative;
	height:   100%;
	width:    100%;
}

#algorithms-main-container {
    height: 100%;
    width:  100%;
}

#algorithms-editor {
    margin-top: 10px;
    height:     calc(100% - 44px);
    width:      100%;
    display:    inline-block;
    border:     1px solid black;
}

#algorithms-selector {
    position: absolute;
    left:     10px;
    top:      7px;
    height:   30px;
    width:    110px;
    color:    black;
}

#algorithms-main-container .dropdown {
    left:  125px;
    top:   5px;
    width: 100px;
}

#run-algorithm-button {
    position: absolute;
    top:      5px;
    left:     205px;
}

#algorithm-run-frequency-form {
    position:    absolute;
    top:         7px;
    left:        295px;
    margin-left: 5px;
}

#algorithm-run-frequency {
    height:      30px;
    color:       black;
    margin-left: 5px
}